.tarea-formulario{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.contendor-input{
    width: 934px;
}

.tarea-texto{
    width: 70%;
    font-size: 18px;
    background-color: white;
    padding: 14px 32px 14px 16px;
    border-radius: 4px;
    border: 2px solid #231655;
    outline: none;
}

.tarea-btn{
    margin-left: 6px;
    padding: 15px;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    color: #fff;
    text-transform: capitalize;
    background-color: #231655;
}
